main {
    font-family: 'SUIT';
    margin-top: 60px;

    .updatePage, .listPage, .detailPage, .searchPage, .storePage{
        height: calc(100vh - 60px);
        max-height: 1080px;
        display: flex;
        align-items: center;
    }
    
    .container {
        width: 100%;
        max-width: 1140px;
        padding: 0 40px 0;
        margin: 0 auto;
    }
}

.mainPage {
    width: 100%;
    position: relative;
    overflow: hidden;

    .container {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 90px;
        display: flex;
        flex-direction: column;
        
        .mainWrap {
            display: flex;
            gap: 65px;
        }

        .subWrap {
            width: 485px;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
        }
    }

    .mainTitle {
        width: fit-content;
        margin: 70px 0 0 145px;

        h2 {
            font-size: 110px;
            color: #fff;
            font-family: 'TheJamsil';
            margin-bottom: 20px;
            position: relative;

            &::after {
                content: '';
                display: inline-block;
                width: 25px;
                height: 25px;
                background-color: #FADB6F;
                border-radius: 50%;
                position: absolute;
                bottom: 0;
                right: 30px;
            }
        }

        p {
            font-size: 50px;
            font-weight: 500;
            color: #fff;

            &.lineText {
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }

        hr {
            width: 0px;
            height: 2px;
            background-color: #fff;
            border-radius: 1px;
            transition: all ease 2s 0s;
            margin: 0;
            opacity: 0;
            width: 80px;
            opacity: 1;

            &.active {
                width: 80px;
                opacity: 1;
            }
        }
    }

    .subTitle {
        text-align: center;

        span, p { 
            font-size: 25px;
            font-weight: 500;
            color: #fff;
            word-break: keep-all;
        }

        .subRound {
            margin: 30px auto 0;
            width: 170px;
            height: 170px;
            border-radius: 50%;
            background-color: #FF9147;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            line-height: 30px;
            position: relative;

        }

        .img_arrowDown {
            width: 25px;
            margin: 0 auto;
            position: absolute;
            top: 140px;
            z-index: -1;
        }
    }
}

.mockupWrap {
    position: relative;

    img {
        width: 100%;
    }
    
    .img_mockupSmall {
        max-width: 380px;
    }

    .img_mockupMid {
        max-width: 485px;
    }

    .img_mockupBig {
        max-width: 590px;
    }

    .img_appIcon {
        position: absolute;
        bottom: 90px;
        right: 30px;
    }

    .img_mockupDetail {
        width: 100px;
        height: 100px;
        position: absolute;
        bottom: 60px;
        width: 405px;
        height: 510px;
        right: -45px;
        background-color: #fff;
        border-radius: 30px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .mockupRound {
        background-color: #FF9147;
        border-radius: 50%;
        position: absolute;
        z-index: -1;
    }
}

.mainBackground {
    margin: 0 auto;
    width: 100%;
    height: 1500px;
    position: relative;
    overflow: hidden;

    .backRound {
        background-color: #F79B52;
        width: 200%;
        height: 200%;
        position: absolute;
        border-radius: 50%;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;

        &:after {
            content: '';
            display: inline-block;
            background-image: url(../../assets/background.png);
            background-repeat: no-repeat;
            background-size: contain;
            max-width: 1920px;
            width: 100%;
            height: 1920px;
            position: absolute;
            bottom: -15%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.storeBackground {
    margin: 0 auto;
    width: 100%;
    height: 450px;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    transform: rotate(180deg);
    z-index: -1;

    .backRound {
        background-color: #F79B52;
        width: 200%;
        height: 200%;
        position: absolute;
        border-radius: 50%;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
        overflow: hidden;

        &:after {
            content: '';
            display: inline-block;
            background-image: url(../../assets/background.png);
            background-repeat: no-repeat;
            background-size: contain;
            max-width: 1920px;
            width: 100%;
            height: 1920px;
            position: absolute;
            bottom: -15%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}


.subPage {
    position: relative;
    height: 700px;

    .container {
        display: flex;
        position: relative;
        justify-content: center;

        .mockupWrap {
            position: absolute;
            left: 50%;
            top: -260px;
            transform: translateX(-50%);
        }
    }

    .pointRound1 {
        width: 35px;
        height: 35px;
        background-color: #F79B52;
        border-radius: 50%;
        position: absolute;
        top: 200px;
        left: 0
    }

    .pointRound2 {
        width: 195px;
        height: 195px;
        background-color: #F79B52;
        border-radius: 50%;
        position: absolute;
        top: 450px;
        right: 0
    }
}

.updatePage {
    padding: 200px 0;

    .container {
        position: relative;
    }

    .updateTitle {
        width: 790px;
        height: 790px;
        border-radius: 50%;
        position: absolute;
        bottom: 50%;
        transform: translateY(50%);
        right: 0;
        z-index: -1;
        overflow: hidden;
        background-color: #c4deee;

        i.moonOrigin {
            position: absolute;
            top: 5%;
            right: 10%;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background-color: #ffdc00;
            transition: all 0.85s;
        }
        
        &.dark {
            i.moonOrigin{
                opacity: 0;
            }

            .night {
                opacity: 1;
                height: 100%;
            }
        }
    }

    .contentTitle {
        position: absolute;
        right: 10%;
        bottom: 40%;
        transform: translateY(50%);

        &.dark h3 {
            color: #fff;

            span {
                color: #FADB6F
            }
        };
    }
}

.night {
    width: 100%;
    height: 100%;
    background-color: #4F534E;
    height: 0;
    opacity: 0;
    transition: all 1s;

    span {
        position: absolute;
        width: 4px;
        height: 4px;
        border-radius: 4px;
        background-color: #fff;

        &.star1 {
            top: 30%;
            left: 30%;
            animation: clittering 3.5s infinite;
        }

        &.star2 {
            top: 15%;
            left: 20%;
            animation: clittering 2s infinite;
        }

        &.star3 {
            top: 25%;
            left: 15%;
            animation: clittering 3.5s infinite;
        }

        &.star4 {
            top: 40%;
            right: 10%;
            animation: clittering 2s infinite;
        }

        &.star5 {
            top: 45%;
            right: 30%;
            animation: clittering 3.5s infinite;
        }

        &.star6 {
            top: 20%;
            left: 50%;
            animation: clittering 2s infinite;
        }

        &.star7 {
            top: 10%;
            right: 30%;
            animation: clittering 3.5s infinite;
        }

        &.star8 {
            top: 25%;
            right: 25%;
            animation: clittering 2s infinite;
        }

        &.star9 {
            top: 5%;
            right: 60%;
            animation: clittering 3.5s infinite;
        }

        &.star10 {
            top: 30%;
            right: 40%;
            animation: clittering 2s infinite;
        }

        &.star11 {
            top: 45%;
            right: 80%;
            animation: clittering 3.5s infinite;
        }
    }

    @keyframes clittering {
        0% {
            opacity: 0;
            transform: scale(0.5);
        }
        50% {
            opacity: 1;
            transform: scale(0.9);
        }
        100% {
            opacity: 0;
            transform: scale(0.5);
        }
    }
}

.contentTitle {
    width: fit-content;

    small {
        color: #FF9147;
        font-size: 25px;
        font-weight: 600;
    }

    h3 {
        margin-top: 20px;
        color: #fff;
        font-size: 55px;
        font-weight: 700;
        line-height: 70px;

        &.dark {
            color: #4F534E;
        }

        span {
            display: inline-block;
            font-size: inherit;
            font-weight: inherit;

            &.yellow {
                color: #FADB6F;
            }

            &.orange {
                color: #FF9147;
            }
        }
    }

    p {
        font-size: 40px;
        font-weight: 600;
        color: #4F534E;
    }

    > span {
        display: inline-block;
        margin-top: 50px;
        font-size: 25px;
        font-weight: 600;
        color: #4F534E;
    }
}

.listPage {
    padding: 200px 0;

    .container {
        display: flex;
        justify-content: space-between;
    }

    .mockupRound {
        width: 550px;
        height: 550px;
        bottom: 95px;
        left: -50px;
    }
}

.detailPage {
    padding: 200px 0;

    .container {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    .contentTitle {
        margin-bottom: 50px;
    }

    .mockupRound {
        width: 500px;
        height: 500px;
        bottom: 50%;
        transform: translateY(50%);
        left: -50px;
    }
}

.searchPage {
    padding: 200px 0;

    .container {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    .contentTitle {
        margin-bottom: 100px;
    }

    .mockupRound {
        width: 600px;
        height: 600px;
        top: 50%;
        transform: translate(-50% , -50%);
        left: 50%;
    }
}

.storePage {
    padding: 0;
    position: relative;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .contentTitle {
        text-align: center;
        margin-bottom: 25px;
    }

    .btnWrap {
        align-items: flex-start;
        display: flex;
        justify-content: center;
        gap: 20px;
    
        a {
            background-color: rgba(0, 12, 30, 0.8);
            color: rgb(255, 255, 255);
            padding: 10px 20px;
            font-size: 15px;
            font-weight: 600;
            line-height: 24px;
            border-radius: 7px;
            display: flex;
            align-items: center;
            gap: 10px;
    
            img {
                width: 24px;
            }
    
            &:hover {
                color: #4e5968;
                background-color: #d1d6db;
            }
        }
    }
}



















