/*변수*/
@mixin mobile{
    @media (max-width: 1024px){
        @content;
    }
}

// 폰트 사이즈 계산 함수
@mixin fontSize($size){
    font-size: $size;

    @include mobile{ 
        @if $size / 2 <= 10px {
            font-size: 13px;
        } @else {
            font-size: ($size / 2);
        }
    }
}
